@import "./normalize.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 100%;
  background-image: url("./money2.avif");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center top;
  margin: 0;
  padding: 0;
}

.container h1 {
  font-size: 3.5rem;
}

@media screen and (min-width: 1024px) {
  body {
    background-position: -100px top;
  }
}
