@import "./normalize.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.nav-pills li a:hover {
  background-color: rgb(0, 170, 255);
  cursor: pointer;
}

.nav-bottom a:hover {
  background-color: rgb(60, 60, 73);
}

.right-screen {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.filtering {
  position: absolute;
  top: 0.5%;
  right: 4%;
}

.submit-filter {
  margin-top: 2rem;
}
