@import "./normalize.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.nav-pills li a:hover {
  background-color: rgb(35, 142, 196);
  cursor: pointer;
}

.nav-bottom a:hover {
  background-color: rgb(60, 60, 73);
}
