{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Client</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Tilt+Prism&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <script
      src="https://kit.fontawesome.com/9f0dc4de76.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="{% static 'client/frontpage.css' %}" />
  </head>
  <body>
    <div class="container">
      <h1>Money Tracker</h1>
      <h3>
        Stressed about keeping track of your personal and family finance? Here's
        your solution.
      </h3>
      <!-- Login Buttons w/ Modals -->
      <button
        class="btn btn-lg btn-outline-primary mb-3 btn-user-login"
        data-bs-toggle="modal"
        data-bs-target="#login"
      >
        User Log in
      </button>
      <div class="modal fade" id="login">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title fs-1">Log In</h4>
              <button
                class="btn-close user-login-close"
                data-bs-dismiss="modal"
                data-bs-target="#login"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <form autocomplete="off" id="form-login-user">
                <div class="mb-3">
                  <label for="username" class="form-label fs-4">Username</label>
                  <input
                    type="text"
                    class="form-control"
                    id="username"
                    name="username"
                    required
                  />
                </div>
                <div class="mb-3">
                  <label for="password" class="form-label fs-4">Password</label>
                  <input
                    type="password"
                    class="form-control"
                    id="password"
                    name="password"
                    required
                  />
                </div>
                <button
                  type="submit"
                  id="user-log-in-submit"
                  class="btn btn-primary"
                >
                  Log In
                </button>
                <div
                  id="user-login-failed"
                  class="mt-2"
                  style="color: red"
                ></div>
              </form>
            </div>
            <div class="modal-footer d-flex justify-content-start pt-0">
              <h6 class="mt-3">
                Don't have a family or a user account? Sign them up with links
                below.
              </h6>
              <div>
                <button class="btn btn-secondary btn-family-register">
                  Family Sign Up
                </button>
                <button class="btn btn-secondary btn-user-register">
                  User Sign Up
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <h4><i>Haven't registered before?</i></h4>
      <button
        class="btn btn-lg btn-outline-secondary mb-3 btn-user-signup"
        data-bs-toggle="modal"
        data-bs-target="#user-sign-up"
      >
        User Sign Up
      </button>
      <div class="modal fade" id="user-sign-up">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title fs-1">User Sign Up</h4>
              <button
                class="btn-close user-signup-close"
                data-bs-dismiss="modal"
                data-bs-target="#user-sign-up"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <form autocomplete="off" id="form-signup-user">
                <div class="mb-3">
                  <label for="username-register" class="form-label fs-4"
                    >Username</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="username-register"
                    name="username"
                    required
                  />
                </div>
                <div class="mb-3">
                  <label for="password-register" class="form-label fs-4"
                    >Password</label
                  >
                  <input
                    type="password"
                    class="form-control"
                    id="password-register"
                    name="password"
                    required
                  />
                </div>
                <div class="mb-3">
                  <label for="email-register" class="form-label fs-4"
                    >Email</label
                  >
                  <input
                    type="email"
                    class="form-control"
                    id="email-register"
                    name="email"
                    required
                  />
                </div>
                <div class="mb-3">
                  <label for="first-name-register" class="form-label fs-4"
                    >First Name</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="first-name-register"
                    name="first_name"
                    required
                  />
                </div>
                <div class="mb-3">
                  <label for="last-name-register" class="form-label fs-4"
                    >Last Name</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="last-name-register"
                    name="last_name"
                    required
                  />
                </div>
                <button
                  type="submit"
                  id="user-sign-up-submit"
                  class="btn btn-primary"
                >
                  Sign Up
                </button>
                <div
                  id="user-validation-failed"
                  class="mt-2"
                  style="color: red"
                ></div>
                <div
                  id="user-validation-success"
                  class="mt-2"
                  style="color: rgb(14, 196, 14)"
                ></div>
              </form>
            </div>
            <div class="modal-footer d-flex justify-content-start pt-0">
              <h6 class="mt-3">
                Don't have a family id? Sign it up with the first link!
                Otherwise proceed to log in.
              </h6>
              <div>
                <button class="btn btn-secondary btn-family-register">
                  Family Sign Up
                </button>
                <button class="btn btn-secondary btn-user-login">Log In</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Family Sign Up -->
      <div class="mb-3">
        <button
          class="btn btn-lg btn-outline-secondary mb-3 btn-family-signup"
          data-bs-toggle="modal"
          data-bs-target="#family-signup"
        >
          Family Sign Up
        </button>
        <div class="modal fade" id="family-signup">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title fs-1">Family Sign Up</h4>
                <button
                  class="btn-close family-signup-close"
                  data-bs-dismiss="modal"
                  data-bs-target="#family-signup"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <form autocomplete="off" id="form-signup-family">
                  <div class="mb-3">
                    <label for="family-name" class="form-label fs-4"
                      >Family Name</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="family-name"
                      name="name"
                      required
                    />
                  </div>
                  <div class="mb-3">
                    <label for="family-password" class="form-label fs-4"
                      >Password</label
                    >
                    <input
                      type="password"
                      class="form-control"
                      id="family-password"
                      name="password"
                      required
                    />
                  </div>
                  <button
                    type="submit"
                    id="family-sign-up-submit"
                    class="btn btn-primary"
                  >
                    Sign Up
                  </button>
                  <div
                    id="family-validation-failed"
                    class="mt-2"
                    style="color: red"
                  ></div>
                  <div
                    id="family-validation-success"
                    class="mt-2"
                    style="color: rgb(14, 196, 14)"
                  ></div>
                </form>
              </div>
              <div class="modal-footer d-flex justify-content-start pt-0">
                <h6 class="mt-3">
                  Don't have a user account? Sign it up with the first link!
                  Otherwise proceed to log in.
                </h6>
                <div>
                  <button class="btn btn-secondary btn-user-register">
                    User Sign Up
                  </button>
                  <button class="btn btn-secondary btn-user-login">
                    Log In
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Family Linking -->
      <div class="modal fade" id="family-linking">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title fs-1">Family Sign Up</h4>
              <button
                class="btn-close family-linking-close"
                data-bs-dismiss="modal"
                data-bs-target="#family-signup"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <form autocomplete="off" id="form-linking-family">
                <div class="mb-3">
                  <h5 style="color: red">
                    System detects that this user does not have an associated
                    family. Link it with family by entering your family id.
                  </h5>
                  <label for="family-id" class="form-label fs-4"
                    >Family ID</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="family-id"
                    name="family_id"
                    required
                  />
                </div>
                <button
                  type="submit"
                  class="btn btn-primary family-linking-submit"
                >
                  Link
                </button>
                <div
                  id="family-linking-failed"
                  class="mt-2"
                  style="color: red"
                ></div>
              </form>
            </div>
            <div class="modal-footer d-flex justify-content-start pt-0">
              <h6 class="mt-3">
                Don't have a user account? Sign it up with the first link!
                Otherwise proceed to log in.
              </h6>
              <div>
                <button class="btn btn-secondary btn-user-register">
                  User Sign Up
                </button>
                <button class="btn btn-secondary btn-user-login">Log In</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="{% static 'client/script.js' %}" defer></script>
  </body>
</html>
