{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Client</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Tilt+Prism&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <script
      src="https://kit.fontawesome.com/9f0dc4de76.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="{% static 'client/style.css' %}" />
  </head>
  <body>
    <div id="authenticated" class="container-fluid">
      <div class="row flex-nowrap">
        <!-- Nav Bar -->
        <div
          class="bg-dark col-auto col-md-3 col-lg-2 min-vh-100 d-flex flex-column justify-content-between"
        >
          <div class="bg-dark p-2">
            <a
              class="d-flex text-decoration-none mt-1 text-white align-items-center"
            >
              <span class="fs-2 d-none d-sm-inline text-success pb-1 name">
              </span>
            </a>
            <a
              class="d-flex text-decoration-none text-white align-items-center"
            >
              <span class="fs-6 d-none d-sm-inline subtitle"></span>
            </a>
            <ul class="nav nav-pills flex-column mt-4">
              <li class="nav-item py-2 py-sm-1 ps-1">
                <a class="nav-link text-white">
                  <i class="fa fas fa-user-tie fs-5">
                    <span class="fs-4 ms-3 d-none d-sm-inline">Profile</span>
                  </i>
                </a>
              </li>
              <li class="nav-item py-2 py-sm-1">
                <a class="nav-link text-white">
                  <i class="fa fas fa-house-user fs-5">
                    <span class="fs-4 ms-3 d-none d-sm-inline">Family</span>
                  </i>
                </a>
              </li>
              <li class="nav-item py-2 py-sm-1">
                <a class="nav-link text-white">
                  <i class="fa fas fa-people-carry fs-5">
                    <span
                      class="fs-4 d-none d-sm-inline"
                      style="margin-left: 8px"
                      >Collective Report</span
                    >
                  </i>
                </a>
              </li>
              <li class="nav-item py-2 py-sm-1 p-1">
                <a class="nav-link text-white">
                  <i class="fa fas fa-solid fa-child fs-5">
                    <span class="fs-4 ms-3 d-none d-sm-inline"
                      >Individual Report</span
                    >
                  </i>
                </a>
              </li>
            </ul>
          </div>
          <div class="nav-bottom">
            <a
              class="d-flex text-decoration-none mt-1 text-secondary align-items-center p-1"
              href="#"
            >
              <span class="fs-4 d-none d-sm-inline ms-2"> Setting </span>
            </a>
            <a
              class="d-flex text-decoration-none mt-1 text-secondary align-items-center p-1"
              href="../../admin/"
            >
              <span class="fs-4 d-none d-sm-inline ms-2"> Service </span>
            </a>
            <a
              class="d-flex text-decoration-none mt-1 text-warning align-items-center p-1 pb-3"
              href="../"
            >
              <span class="fs-4 d-none d-sm-inline ms-2"> Logout </span>
            </a>
          </div>
        </div>
        <!-- Main Content -->
        <div id="chart-container" style="width: 40%; height: 400px">
          <h1>Earnings</h1>
          <canvas id="chart-income"></canvas>
        </div>
        <div id="chart-container" style="width: 40%; height: 400px">
          <h1>Expenses</h1>
          <canvas id="chart-expenses"></canvas>
        </div>
      </div>
    </div>
    <script src="{% static 'client/script.js' %}" defer></script>
  </body>
</html>
