@import "./normalize.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.container {
  position: relative;
}

.title1 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.title2 {
  height: auto;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1rem;
}

.title-blue {
  background-color: #3079c3;
}

.title-white {
  background-color: rgb(225, 195, 155);
}

.title1 > h2 {
  font-size: 4rem;
}

.header {
  font-family: "Roboto", sans-serif;
}

.card {
  width: 370px;
  background-color: antiquewhite;
}

.card-text p {
  font-size: 1.2rem;
}

.calculator {
  width: 250px;
  height: auto;
  transform: translateX(4rem);
}

.fa-arrow-down {
  position: absolute;
  top: 92%;
  animation: leftAndRight 3s ease-out 2s infinite normal;
}

.fa-arrow-down:hover {
  cursor: pointer;
}

.link {
  color: rgb(109, 68, 10);
}

.link--secondary {
  color: blue;
}

a {
  text-decoration: none;
}

.title2 .header,
.body {
  margin-left: 2rem;
  margin-right: 2rem;
  font-size: 2.3rem;
}

.body p,
.body ol {
  font-size: 1.5rem;
}

@keyframes leftAndRight {
  25% {
    transform: translateY(20px);
  }
}

@media screen and (max-width: 1024px) {
  .title1 > h2 {
    font-size: 3rem;
  }

  .title1 > h3 {
    font-size: 2rem;
  }

  .calculator {
    width: 200px;
    height: auto;
    transform: translateX(4rem) translateY(1rem);
  }
}

@media screen and (max-width: 580px) {
  .title1 > h2 {
    font-size: 2.5rem;
  }
  .title1 > h3 {
    font-size: 1.5rem;
  }

  .card {
    width: 220px;
  }

  .calculator {
    width: 200px;
    height: auto;
    transform: translateY(4rem);
  }
}

@media screen and (max-width: 425px) {
  .title1 > h2 {
    font-size: 2rem;
  }
  .title1 > h3 {
    font-size: 1rem;
  }

  .card {
    width: 170px;
  }

  .calculator {
    width: 150px;
    height: auto;
    transform: translateY(6rem);
  }
}
